
/* common */

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{ 
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 13px;
    color: rgb(88, 88, 88);
    line-height: 17px;
   
}

.container {
    width: 80%;
    margin: 0 auto;
}

.float-left{
    float:left;
}
.clearfix::after{
    content: "";
    display: table;
    clear:both;
}

.list-inline {
    list-style: none;
    
}

.list-inline>li{
    display: inline-block;
    padding: 0 7px;
    vertical-align: middle;
}

.list-inline a:not(.btn) {
    text-decoration: none;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
}

.list-inline a:not(.btn):hover {
    color: #7cbb02;
}

.w-50 {
    width: calc(100%/2);
    padding: 50px;
}

.w-33 {
    width: calc(100%/3);
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}


.btn{
    display: inline-block;
    padding: 5px 5px;
    font-size: 10px;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-large{
    padding: 10px;
}
.btn-blue{
    background-color: #2A4F75;
    border: 1px solid white;
}
.btn-blue:hover{
    background-color: white;
    color: #2A4F75;
}

.btn-green {
    background-color:  #7cbb02;
    border: 1px solid #7cbb02
}
.btn-green:hover{
    background-color: #2A4F75;
}

.gray-area{
    height: 100px;
    background-color: lightgray;
}

/* header */

header{
    height:550px;
    background-color: #2A4F75;
    background-image: url(../img/background-header.png);
    background-position: 113% 106%;
    background-size: 65% auto;
    background-repeat: no-repeat; 
}
.header-nav{
    height:80px;
    line-height: 80px;
}

.header-logo{
    width: 10%;
    height: 100%;
   
}
.header-logo img{
    width: 100%;
    vertical-align: middle;
}

.nav-left {
    width: 50%;
    height: 100%;
    padding-left: 20px;
    text-align: left;
}
.nav-right{
    width: 40%;
    height: 100%;
    text-align: right;
}
.jumbotron {
    position: relative;
    height: 470px;
}
.jumbotron-text{
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
}

h1 {
    margin-bottom: 30px;
    color: white;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* Main */

h3{
    font-size: 20px;
    margin-bottom: 5px;
    padding-bottom:5px;
   
}

.gray-area-content {
    text-align: center;
    padding:30px;
}

.w-33 img{
    height: 120px;
}

.header-green{
    margin: 15px 0;
    color: #7cbb02;
}
.header-green:after{
    content: " ";
    display: block;
    width: 80px;
    height: 2px;
    background-color: rgb(165, 165, 165);
    margin: 20px auto 0;
} 

.w-50 p{
    margin: 15px 0;
}
.w-50 a{
    font-size: 12px;
}

